<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gan.base">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>
        <!-- 扫码 -->
        <activity
            android:name="com.zxing.activity.CaptureZxingActivity"
            android:label="@string/app_name" />
        <activity android:name=".activity.DetailActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.BaseWebViewActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.MyTabActivity" />
        <activity android:name=".activity.PhotoPickActivity" />
        <activity android:name=".util.image.PhotoPreviewActivity" />
        <activity android:name=".util.image.PhotoPreviewMoreActivity" />
        <activity android:name=".activity.RxBusActivity" />
        <activity android:name=".activity.RecycleviewActivity" />
        <activity android:name=".activity.SlideMenuActivity" />
        <activity android:name=".activity.RecycleviewWithHeadActivity" />

        <activity android:name=".activity.SplashActivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.gan.appdownload.DownLoadBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.gan.appdownload.UpdataBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>